<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>Table_Format</title>
</head>
<body>
    <div class="containee">
      <h1>Student Biometric change</h1>
    </div>
    <div class="btn-flex">
      <div class="user_name">
        <i class="fa-solid fa-user"></i> 
        <span>{{name}}</span>
      </div>
      <form action="/csv_download" method="get">
      <input type="hidden" name="name" value={{name}}>
      <button class="btn third" type="submit">Download</button>
      </form>
    </div>
    <input type="text" id="search" class="form-control"  placeholder="Search for name and email......">
    
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Enrollment No.</th>
                <th>Date and time</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="table">
          {{#each info}}
        <tr >
            <td data-column="First Name"  align ="center" id="title">{{this.name}}</td>
            <td data-column="Enrollment No." align="center">{{this.no}}</td>
            <td data-column="Date and time"  class="dateAndtime" align="center">{{this.date}}</td>
            <td data-column="Status" align="center">{{this.check}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>

    <script src="/js/script.js"></script>
</body>
</html>